.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url("../img/main.jpg") center (center/cover) no-repeat;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;

        @media screen and (max-width: 1024px) {
            padding: 0 20px 0 20px;
        }
    }

    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 42px;

        @media screen and (max-width: 768px) {
            font-size: 40px;
        }

        @media screen and (max-width: 576px) {
            font-size: 33px;
        }

        @media screen and (max-width: 430px) {
            font-size: 30px;
        }

        @media screen and (max-width: 426px) {
            font-size: 25px;
        }
    }

    &__subheader {
        margin-top: 17px;
        color: #ffffff;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;

        @media screen and (max-width: 768px) {
            font-size: 20px;
        }

        @media screen and (max-width: 576px) {
            margin-top: 10px;
            font-size: 17px;
        }

        @media screen and (max-width: 430px) {
            font-size: 15px;
        }

        @media screen and (max-width: 426px) {
            margin-top: 0;
            font-size: 13px;
        }
    }

    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 576px) {
            width: 350px;
        }

        @media screen and (max-width: 425px) {}
    }

    &__icon {
        width: 108px;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;

        @media screen and (max-width: 576px) {
            width: 100px;
        }

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 576px) {
            font-size: 12px;
        }
    }

    &__link {
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        margin-top: 18px;

        @media screen and (max-width: 576px) {
            font-size: 14px;
        }

        a {
            color: #ffffff;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
}